@import "./../variables.css";

slider-element > .control {
        margin-left: var(--small-spacing);
        gap: var(--medium-spacing);
        align-items: center;
        user-select: none;
        display: flex;
        width: 100%;
}

slider-element > .control > .track {
        flex: 1;
        position: relative;
        height: var(--small-spacing);
        background: var(--light-background-color);
        border-radius: calc(var(--small-spacing) / 2);
        cursor: pointer;
}

slider-element > .control > .track > .thumb {
        position: absolute;
        top: 50%;
        border-radius: 50%;
        width: calc(var(--small-spacing) * 1.5);
        height: calc(var(--small-spacing) * 1.5);
        background: var(--lightest-background-color);
        transform: translate(-50%, -50%);
        transition: left 100ms ease-out;
}

slider-element.dragging > .control > .track > .thumb {
        transition: none;
}

slider-element:not(.connected) > .control > .track .thumb {
        transition: none;
}

slider-element > .control > span {
        white-space: pre;
        text-align: right;
}