@import "./../variables.css";

sprite-selector-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--medium-spacing);
        background-color: var(--light-background-color);
        padding: var(--small-spacing);
}

sprite-selector-element > .sprite-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(var(--image-size), auto));
        justify-content: start;
        gap: var(--small-spacing);
}

sprite-selector-element > .sprite-grid > img {
        object-fit: contain;
        background-color: var(--light-background-color);
        border-radius: var(--medium-radius);
        width: var(--image-size);
        height: var(--image-size);
        user-select: none;
        cursor: pointer;
}

sprite-selector-element > .sprite-grid > img:hover {
        background-color: var(--lighter-background-color);
}

sprite-selector-element > .sprite-grid > img.selected {
        outline: 2px solid var(--lightest-background-color);
}

sprite-selector-element > .sprite-editor {
        display: flex;
        width: 100%;
        gap: var(--medium-spacing);
}

sprite-selector-element > .sprite-editor > .canvas-wrapper {
        width: 200px;
        height: 200px;
        background-color: var(--darker-background-color);
}

sprite-selector-element > .sprite-editor > .sprite-options {
        flex: 1;
        display: flex;
        flex-direction: column;
}